.test {
  color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.HomepageContainer {
  width: 100%;
}

.center-homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
