body{
  background-color: white;
  color: black;
}

.resetCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px 30px;
  margin: 50px 160px 50px 160px;
  h3 {
    font-weight: bold;
    font-family: "Poppins";
  }
  .changePasswordBtn {
    background-color: #846CFE !important; //shouldn't use important here geh, but Gay Chin's important overwritten this one
    margin-bottom: 8px;
    border-radius: 0.3em !important;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    &:hover{
      filter: brightness(1.1);
    }
  }
}