$magnolia: #e7e7f3;
$primary-color: #524ca6;
$secondary-color: #846cfe;
$jet-black: #3b3b3f;

.tour-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  // top: 10px;
  // left: 10px;
  // bottom: 10px;
  // right: 10px;
  z-index: 2103 !important;
  border-radius: 10px;
  width: 450px;
  height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

//position styling
.translation {
  position: fixed;
}

.center {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.left {
  top: 100px;
  left: 10cm;
}

.top-left {
  top: 100px;
  left: 185px;
}

.bottom-left {
  bottom: 15%;
  left: 30%;
}

.right {
  top: 30%;
  right: 30%;
}

.top-right {
  top: 15%;
  right: 30%;
}

.bottom-right {
  bottom: 15%;
  right: 30%;
}

// Tour Windows
.tour-title {
  display: flex;
  box-shadow: 0 0 10px grey;
  z-index: 2103 !important;
  color: white;
  height: 30px;
  padding: 20px 10px 20px 20px;
  border-radius: 10px 10px 0 0;
  background-color: $primary-color;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  cursor: default;
  user-select: none;

  .tour-close-btn-container{
    .tour-close-btn {
      background-color: white;
      border: 2px solid $primary-color;
      border-radius: 50%;
      .cross {
        color: $primary-color;
      }
    }
  }
}

.message-container {
  box-shadow: 0 4px 10px grey;
  z-index: 2103 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  word-wrap: break-word;
  font-size: 14px;
  color: $jet-black;
  cursor: default;
  user-select: none;

  .paragraph {
    font-size: 18px;
  }
}

.tour-window-buttons-container {
  display: flex;
  z-index: 2103 !important;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0px 5px;
  padding-top: 20px;
}

